/*
============================================

Play Area

============================================
*/

* {
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.2em;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

body.checking {
    pointer-events: none;
}

#game {
    margin-top: -20px;
    display: flex;
    align-items: stretch;
}

#score-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #582a72;
    flex-basis: 20%;
}

@media screen and (max-width: 850px) {
    #game {
        flex-wrap: wrap;
    }

    #score-board {
        flex-basis: 100%;
    }
}

#board {
    padding-top:20px;
    background-color: #bebebe;
    margin: auto;
    height: 100%;
    flex-grow: 1;
}

.board-row {
    display: flex;
    max-width: 700px;
    margin: auto;
}

.pair {
    display: flex;
}

.card-container {
    cursor: pointer;
    width: 160px;
    margin: 8px;
    transform-style: preserve-3d;
    transition: all 300ms ease-in-out;
}

@media screen and (max-width: 700px) {
    .board-row {
        flex-wrap: wrap;
        justify-content: center;
    }
}

.card-container.selected {
    transform: rotatey(180deg);
}

@keyframes shake {
    20% {
        transform: rotatey(180deg) rotate(5deg);
    }
    40% {
        transform: rotatey(180deg) rotate(-5deg);
    }
    60% {
        transform: rotatey(180deg) rotate(5deg);
    }
    80% {
        transform: rotatey(180deg) rotate(-5deg);
    }
}

@keyframes color-change {
    100% {
        background-color: #582a72;
    }
}

.card {
    padding: 10px 0 0 10px;
    overflow: hidden;
    position: relative;
    background-color: #aa3f39;
    width: 150px;
    height: 150px;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    transform: rotateY(180deg);
}

.card.incorrect {
    animation: shake 500ms 500ms;
}

.card.correct {
    animation: color-change 1s forwards 1s;
}

.card * {
    pointer-events: none;
}

.side {
    backface-visibility: hidden;
}

.card-front {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #aa3f39;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.75);
}

/*
================================================

Game Over Modal

================================================
*/

#results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -115vh;
    height:105%;
    width:100%;
    z-index: 4;
    background-color: #582a72;
    -webkit-box-shadow: -2px 20px 43px 17px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 20px 43px 17px rgba(0,0,0,0.75);
    box-shadow: -2px 20px 43px 17px rgba(0,0,0,0.75);
    transition: all 2s ease-in-out;
}

#results.win {
    top: 0;
}

#reset {
    background-color: #582a72;
    color: #fff;
    height: 48px;
    min-width: 48px;
    border: 2px solid #fff;
    transition: all 500ms;
}

#reset:hover {
    color: #582a72;
    background-color: #fff;
    border: 2px solid #582a72;
    cursor: pointer;
}

/*
============================================

Square Card

============================================
*/

.square {
    position: relative;
    height: 80px;
    width: 80px;
    background-color: #fff;
    top: 30px;
    left: 30px;
}

.card.matched .square {
    animation: square-rotate 2s forwards;
}

@keyframes square-rotate {
    100% {
        left: 110px;
        top: 120px;
        transform: rotate(45deg) scale(3);
    }
}

.small-square {
    position: absolute;
    top: 80px;
    left: 80px;
    height: 40px;
    width: 40px;
    background-color: #fff;
}

.card.matched .small-square {
    animation: small-square-slide 2s 1s forwards;
}

@keyframes small-square-slide {
    100% {
        top: 20px;
        left: 20px;
    }
}

/*
============================================

Circle Card

============================================
*/

.circle {
    position: relative;
    z-index: 1;
    top: -130px;
    left: -130px;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background-color: #fff;
    transform: scale(.2);
}

.card.matched .circle {
    animation: circle-horizon 3s forwards;
}

@keyframes circle-horizon {
    100% {
        transform: scale(1) translate(0, 220px);
    }
}

.circle-sun {
    visibility: hidden;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    height: 40px;
    width: 40px;
    background-color: #fff;
}

@keyframes circle-sun-rise {
    100% {
        visibility: visible;
        transform: translate(0, -390px);
    }
}

.card.matched .circle-sun {
    animation: circle-sun-rise 3s ease-out 1s forwards;
}

/*
============================================

Hollow Circle Card

============================================
*/

.hollow-circle {
    top: 40px;
    left: 40px;
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 16px solid #fff;
}

@keyframes hollow-circle-1 {
    100%{
        top: 15px;
        left: 15px;
        width: 100px;
        height: 100px;
    }
}

.card.matched .hollow-circle-1 {
    animation: hollow-circle-1 2s forwards;
}

@keyframes hollow-circle-2 {
    100%{
        top: 65px;
        left: 65px;
        width: 0;
        height: 0;
    }
}

.card.matched .hollow-circle-2 {
    animation: hollow-circle-2 2s forwards;
}

/*
============================================

Hollow Square Card

============================================
*/

.hollow-rect{
    position: absolute;
    top: 37px;
    left: 37px;
    box-sizing: border-box;
    height: 85px;
    width: 85px;
    border: #fff solid 20px;
}

@keyframes hollow-rect-1{
    50%{
        transform: translate(-37px);
    }
    100% {
        transform: translate(-37px, -37px);
    }
}

.card.matched .hollow-rect-1 {
    animation: hollow-rect-1 500ms forwards;
}

@keyframes hollow-rect-2{
    25%{
        transform: translate(-37px);
    }
    50% {
        transform: translate(-37px, -37px);
    }
    100% {
        transform: rotate3d(0, 1, 0, 180deg) translate(-38px, -37px)
    }
}

.card.matched .hollow-rect-2 {
    animation: hollow-rect-2 1s forwards;
}

@keyframes hollow-rect-3{
    17%{
        transform: translate(-37px);
    }
    33% {
        transform: translate(-37px, -37px);
    }
    66% {
        transform: rotate3d(0, 1, 0, 180deg) translate(-38px, -37px)
    }
    100% {
        transform: rotate3d(0, 0, 1, 180deg) translate(-38px, -38px)
    }
}

.card.matched .hollow-rect-3 {
    animation: hollow-rect-3 1500ms forwards;
}

@keyframes hollow-rect-4{
    13%{
        transform: translate(-37px);
    }
    25% {
        transform: translate(-37px, -37px);
    }
    50% {
        transform: rotate3d(0, 1, 0, 180deg) translate(-38px, -37px)
    }
    75% {
        transform: rotate3d(0, 0, 1, 180deg) translate(-38px, -38px)
    }
    100% {
        transform: rotate3d(1, 0, 0, -180deg) translate(-37px, -38px)
    }
}

.card.matched .hollow-rect-4 {
    animation: hollow-rect-4 2s forwards;
}

/*
============================================

Cone Card

============================================
*/

.cone-circle {
    position: absolute;
    top: 40px;
    left: 50px;
    height:50px;
    width:60px;
    background-color: #fff;
    border-radius: 50%;
}

.card.matched .cone-circle {
    animation: cone-circle-balance 4s forwards;
}

.cone-triangle {
    position: absolute;
    height:0;
    width:0;
    top: 70px;
    left: 50px;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 50px solid #fff;
    transform-origin: 50% 100%;
}

.card.matched .cone-triangle{
    animation: cone-triangle-rotate 4s forwards;
}

@keyframes cone-triangle-rotate {
    25%{
        transform: rotate(0deg) translate(0, 40px);
    }
    50%{
        transform: rotate(180deg) translate(0, 40px);
    }
    85%{
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        left: 50px;
    }
    100% {
        transform: rotate(180deg) translate(0, 40px);
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        left: 60px;
    }
}

@keyframes cone-circle-balance{
    25%{
        transform: translate(0, -15px);
    }
    50% {
        transform: translate(0, -15px) rotate(90deg);
    }
    65% {
        transform: translate(-5px, -15px) rotate(80deg);
    }
    85% {
        transform: translate(5px, -15px) rotate(100deg);
    }
    100% {
        transform: translate(0, 0px) rotate(90deg);
    }
}

/*
============================================

Triangle Card

============================================
*/

.triangle{
    position: absolute;
    top: 50px;
    left: 40px;
    height: 0;
    width: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 70px solid #fff;
}

@keyframes spin-1 {
    100%{
        transform: rotate(210deg);
    }
}

.card.matched .triangle-1 {
    animation: spin-1 5s forwards;
}

@keyframes spin-2 {
    100%{
        transform: rotate(180deg);
    }
}

.card.matched .triangle-2 {
    animation: spin-2 5s forwards;
}

@keyframes spin-3 {
    100%{
        transform: rotate(150deg);
    }
}

.card.matched .triangle-3 {
    animation: spin-3 5s forwards;
}

/*
============================================

X Card

============================================
*/

.line{
    height: 80px;
    width: 20px;
    background-color: white;
    position: absolute;
    top: 42px;
    left: 70px;
}

[class*=line-]{
    visibility: hidden;
}

.visible{
    visibility: visible;
}

.left {
    transform: rotate(45deg);
}

.card.matched .left {
    animation: left-rotate-split 2s forwards;
}

.right {
    transform: rotate(-45deg);
}

.card.matched .right {
    animation: right-rotate-split 2s forwards;
}

@keyframes left-rotate-split {
    0%{
        transform: rotate(45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg) translate(-70px);
    }
}

@keyframes right-rotate-split {
    0%{
        transform: rotate(-45deg);
    }
    50%{
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg) translate(70px);
    }
}

@keyframes line-1-left{
    0% {
        visibility: visible;
    }
    100%{
        transform: translate(-46px);
        visibility: visible;
    }
}

.card.matched .line-1{
    animation: line-1-left 1s forwards 1s;
}

@keyframes line-2-left{
    0% {
        visibility: visible;
    }
    100%{
        transform: translate(-23px);
        visibility: visible;
    }
}

.card.matched .line-2{
    animation: line-2-left 1s forwards 1s;
}

@keyframes line-3 {
    100% {
        visibility: visible;
    }
}

.card.matched .line-3 {
    animation: line-3 1ms forwards 1s;
}

@keyframes line-4-right{
    0% {
        visibility: visible;
    }
    100%{
        transform: translate(23px);
        visibility: visible;
    }
}

.card.matched .line-4{
    animation: line-4-right 1s forwards 1s;
}

@keyframes line-5-right{
    0% {
        visibility: visible;
    }
    100%{
        transform: translate(46px);
        visibility: visible;
    }
}

.card.matched .line-5{
    animation: line-5-right 1s forwards 1s;
}


/*
============================================

Moon Card

============================================
*/

.moon-card {
    overflow: hidden;
}

.moon {
    position: absolute;
    background-color: #fff;
    border-radius: 50%;
    height: 93px;
    width: 93px;
    top: 30px;
    left: 35px;
}

.card.matched .moon {
    animation: shift-left 1s forwards;
}

.moon-cover {
    position: absolute;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-color: #aa3f39;
    top: 25px;
    left: 55px;
}

@keyframes shift-left {
    100% {
        transform: translate(-20px)
    }
}

.card.matched .moon-cover {
    animation: shift-left 1s forwards, color-change 1s forwards 800ms;
}

@keyframes sprout-up {
    50% {
        transform: translate(-20px);
    }
    100% {
        transform: translate(-20px, -20px);
    }
}

.moon-cover[class*=petal] {
    top:30px;
    left: 60px;
    height: 93px;
    width: 93px;
}

.petal-top,
.petal-right,
.petal-bottom {
    box-sizing: border-box;
    background-color: #fff;
}

.card.matched .petal-top {
    animation: sprout-up 2s forwards;
}


@keyframes sprout-right {
    50% {
        transform: translate(-20px);
    }
    100% {
        transform: translate(0, 0);
    }
}

.card.matched .petal-right {
    animation: sprout-right 2s forwards;
}

@keyframes sprout-down {
    50% {
        transform: translate(-20px);
    }
    100% {
        transform: translate(-20px, 20px);
    }
}

.card.matched .petal-bottom {
    animation: sprout-down 2s forwards;
}